
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header, nav, footer {
  padding: 1rem;
  background-color: #f8f8f8;

h2{
  color: #ddd;
}
img{
width: 100px;
height: 100px;
}
}
.nav1{
  
  display: flex;
  align-items: center;
  text-decoration-color: gray;
  justify-content: space-around;
  background-color: lightgrey;
  list-style: none;
  padding: 5px;
  padding-top: 5px;

 .menu-bar{
  display: flex;
  gap: 30ex;
  list-style: none;
  font-size: medium;
  a{
    text-decoration: none;
    
  } 
  a{
    color: black;
    text-decoration: dimgrey;
    font-size: large;
  }
  a:hover{
    color: blue;
    padding: auto;
  }
 }

 
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

.navbar {
  display: flex;
  align-items: center;
  text-decoration-color: #ddd;
  justify-content: space-between;
  background-color: #5022c3;
}
.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  

  a{
    text-decoration: none;
    color: #ddd;
  }
  a:hover {
      color: gray;
      text-decoration: underline;
  }
  
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.course-card {
  border: 1px solid #ddd;
  padding: 1rem;
}



.footer1{
  
  background-color: #2a2b3f;
  display: flex;
   position: relative;
   color: #ddd;
   justify-content: space-around
}
  .footer-links {
      
  display: flex;
  gap: 10ex;
  list-style: none;
  

  a{
    text-decoration: none;
    color: #ddd;
  }
  a:hover {
      color: gray;
      text-decoration: underline;
  }  
}

  

